<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7fe18493-bd95-40e9-8076-1ed877450db0" Alias="[Dropdown] Color Picker" Level="1">
  <Info>
    <Name>[Dropdown] Color Picker</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Pink",
    "Blue",
    "Green"
  ]
}]]></Config>
</DataType>